[Unit]
Description=Pi Gateway
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Type=simple
User=pi
ExecStartPre=-/usr/bin/docker rm -f pi-gateway
ExecStart=/usr/bin/docker run --name pi-gateway --net=host --privileged \
    -v /run/dbus:/run/dbus:ro \
    -v /home/pi/conf.yml:/app/conf.yml \
    -v /home/pi/pi-gateway/sensor.db:/app/sensor.db \
    -v /home/pi/pi-gateway/app.log:/app/app.log \
    pi-gateway
ExecStop=/usr/bin/docker stop pi-gateway
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
